#horror > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 450px;
  font-size: 400%;
  font-family: "Courier New", Courier, monospace;
  color: rgb(255, 0, 0);
}

#horror-image {
  width: 800px;
  height: 400px;
  margin: 0 auto;
  margin-top: 250px;
  background-image: url("https://img.freepik.com/free-photo/adorable-kitty-looking-like-it-want-to-hunt_23-2149167099.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.invisible {
  display: none;
}
